/*62a21f*/
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainTitle {
  font-family: Koulen;
  font-size: 35px;
}

.item {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}

.img {
  border-radius: 4px;
}

.title {
  font-family: Koulen;
  font-size: 30px;
}

.textShell {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.description {
  font-size: 18px;
  margin-bottom: 25px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media(max-width: 910px) {
  .item {
    flex-direction: column;
  }

  .img {
    width: 300px;
  }
}