@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-family: Koulen;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  margin: 20px 0px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

}

.item {
  border: 3px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/illustration.png");
}

.item:nth-child(2) {
  background: url("/websites.svg");
  background-color: aliceblue;
}

.item:nth-child(3) {
  background: url("/apps.png");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  background-color: #0000008c;
  padding: 0 10px;
  color: white;
}

.item:hover .title {
  color: #b2e500;
}