.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color: #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.button {
    width: 400px;
    padding: 10px;
    cursor: pointer;
    background-color: #62a21f;
    border: none;
    border-radius: 5px;
    color: #eee;
    transition: .2s ease-in-out;
}

.button:hover {
    background-color: #5b941e;
}

.password {
    position: relative;
}

.email,
.password {
    margin-bottom: 20px;

}

.email input,
.password input {
    padding: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d6d9ee;
    border-radius: 4px;

    width: 400px;

    font-size: 20px;

    background: transparent;
    outline: 0;
    transition: .2s ease-in-out;
}

.email input:focus,
.password input:focus {
    border: 1px solid #62a21f;

}

.shell {
    padding: 60px;
    border: 1px solid #dbd5d5;
    border-radius: 30px;
}

.text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: -30px;
}

.text h2 {
    color: #656565;
}

.or {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 15px;
}

.or p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #656565;
    margin-right: 15px;
    margin-left: 15px;

}

.line {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #62a21f;
}


.googleLogin {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 50px;

    background-color: #f6f2f2;
    border-radius: 6px;
    border: 1px dashed grey;

    padding: 10px;
    gap: 10px;

    color: #404040;
}

.eye {
    position: absolute;
    right: 10px;
    top: 47px;
    z-index: 999999;

    cursor: pointer;
}

.mainText {
    font-size: 34px;
    font-family: 'Koulen', sans-serif;
    line-height: 38px;

}

.email input::placeholder,
.password input::placeholder {
    color: #9191918e;
}

.alreadyHaveAccount {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #656565;
}

.registerLink {
    color: #486924;
    margin-left: 5px;
}

.registerLink:hover {
    text-decoration: underline;
}

@media(max-width: 600px) {
    .shell {
        width: auto;
        padding: 34px;
        padding-top: 50px;
    }

    .email input,
    .password input,
    .button,
    .googleLogin {
        width: 100%;
        border-radius: 8px;
    }

    .email input::placeholder,
    .password input::placeholder {
        font-size: 18px;
    }

}

@media(max-width: 400px) {
    .shell {
        padding: 20px;
        padding-top: 50px;
        border-radius: 20px;
    }

    .email input::placeholder,
    .password input::placeholder {
        font-size: 15px;
    }

    .email input,
    .password input {
        font-size: 17px;
    }

    .mainText {
        font-size: 28px;
    }

    .alreadyHaveAccount {
        flex-direction: column;
    }

    .registerLink {
        margin-left: 0;
    }

    .googleLogin {
        font-size: 15px
    }

    .eye {
        top: 39px;
    }
}